@{
    ViewBag.Title = "Главная страница";
}
<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td width="50%">
            <p style="font-size:20px">
                Прогнозирование энергопотребления является важной задачей для предприятий в России. Автоматизация прогноза и управления данными позволит упростить процесс прогнозирования для компании. Из-за упрощения процесса прогнозирования можно создавать новые методы прогноза, основанные на существующих, что значительно повышает точность прогноза и позволяет компании сократить расходы на потребление энергии. С помощью реализованной системы процесс прогноза удалось практически полностью автоматизировать. Конечному пользователю необходимо предоставлять данные для совершения прогноза.
                Таким образом, пользователи системы смогут сократить расходы на потребление энергии благодаря выработанному плану потребления по часам за счет сокращения потребления в “дорогие” часы.
            </p>
        </td>
        <td width="10%">

        </td>
        <td width="50%">
            <img src="~/Files/image.jpg" alt="image" />
        </td>
    </tr>
</table>

